/* Created by ChatGPT: I asked for an example professional css. */

@font-face {
  font-family: 'Avenir';
  src: url('../font/AvenirLTStd-Roman.otf');
}

@font-face {
  font-family: 'Tiempos';
  src: url('../font/TiemposHeadline-Bold.otf');
}

* {
  font-family: Tiempos, serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: Avenir, serif;
}

.logo {
  margin: 0;
}

.logo img {
  height: 70px;
}

nav .logo a {
  color: black;
  text-decoration: none;
}

.lefty {
  justify-content: left;
  text-align: left;
}

.question {
  font-family: Avenir, serif;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

nav .nav-items a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
  height: auto;
  font-family: Tiempos, serif;
  padding: 50px 0;
}

h1.prompt-bigtitle {
  text-align: center;
  padding: 35px;
  margin: 2%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  background-color: #4500ce;
  height: 5rem;
  border-radius: 1.2rem;
}

h2.prompt-title {
  text-align: center;
  margin: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

h3.prompt-subtitle {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin: 2%;
}

h1 {
  font-size: 60px;
  font-weight: 800;
  margin: 0;
  text-align: center;
}

h1.compName {
  font-family: Tiempos, serif;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
}

p.compSymbol{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
}

p.description{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

p {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.companyList {
  display: inline-block;
  height: 3.9rem;
  width: 11rem;
  background-color: #5E17EB;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  font-family: serif;
  transition: all 0.2s ease-in-out;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

label {
  font-size: 20px;
}

.companyList:hover {
  background-color: #4500ce;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

nav::before { /* Add pseudo-element to both the nav and container */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent black */
  z-index: -1;
}

.chart {
  position: absolute;
  right: 35px;
  border: 3px solid #4500ce;
  padding: 10px;
  width: 30%;
  top:600px;
  overflow: hidden; 
  white-space: nowrap;
}

.finchart {
  align-self: flex-start;
  position: static;
  left: 35px;
  border: 3px solid #4500ce;
  padding: 10px;
  width: 60%;
  height: 80%;
}

h2.SubHeading{
  font-family: 'Tiempos', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  padding: 20px;
}

table {
  width: 100%;
}

table td{
  padding: 10px;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.companies-container {
  display: grid;
  padding: 6rem;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  background-color: white;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.companies-container-special {
  display: grid;
  padding: 1rem;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  background-color: white;
  margin-bottom: 0;
}

.resultbutton-wrapper {
  justify-content: center;
  text-align: center;
}

li {
  list-style-type: none;
  list-style: none;
  font-size: 20px;
 }

.logo:hover {
  box-shadow: none;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* start mods */

.inline-wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

.parallax-wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.parallax-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background, .foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.background {
  transform: translateZ(-10px) scale(2);
}

.background2 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.make-body {
  background-color: white;
  padding: 2%;
  padding-bottom: 3%;
}

.make-body-tighter {
  background-color: white;
  padding: 10%;
  padding-top: 0%;
  padding-bottom: 8%;
  text-align: center;
}
/* parallax end */

/* banner settings begin */

h1.banner-title {
  font-size: 5rem;
  color: white;
  text-shadow: 0 0 10px black;
}

header.banner-header, header.banner-header2 {
  height: 100%;
  width: 100%;
  z-index: -1;
  margin: 0;
}

header.banner-header2 {
  margin-bottom: 22.9rem;
}

/* results page */
.listitem {
  list-style-type: none;
  font-size: 2.2rem;
  color: white;
  text-shadow: 0 0 10px black;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.listitem-container {
  padding: 10%;
}

/* enhanced button behavior */
.button, input[type=submit] {
  margin: 0.2rem;
  background-color: #5E17EB;
  border: none;
  border-radius: 5px;
  color: #ffffff !important;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

* .button {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

* .button:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.button:hover, input[type=submit]:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #4500ce;
}

.button {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.button:hover, a:hover, input[type=submit]:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.force-sidebyside {
  display: inline-block;
}

.prompt-submit-button {
  height: 3.2rem;
  width: 36rem;
  margin: 1rem !important;
  background-color: #5E17EB;
  border: none;
  border-radius: 5px;
  color: #ffffff !important;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}