<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Personalizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <nav>
      <div class="logo"><a href="/"><img src="{{ url_for('static', filename='img/Quantic Computing.jpeg')}}"></a></div>
      <div class="nav-items">
        <a href="/data">Data</a>
        <a href="/prompt">Get Started!</a>
      </div>
    </nav>
    {% block content %}  {% endblock %}
  </body>
</html>