{% extends 'base.html' %}

{% block header%} 
<style>
  body {
    background-image: url("{{ url_for('static', filename='img/bckgrnd.jpg')}}");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
{% endblock %}


{% block content %} 
<div class="container">
  <h1>Invest.me</h1>
  <p>
    Bringing qualitative traits into stock trading!
  </p>
  <button class='button' onclick="window.location.href='/prompt';">Get Started!</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js" integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src = "static/home.js"></script>
{% endblock %}